---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Hero from '../../components/Hero.astro';
import Icon from '../../components/Icon.astro';
import Counts from '../../components/Counts';
import ListResults from "../../components/ListResults"
---

<BaseLayout
	title="What do others think?"
	description="Let's see what other people think about the words. More fucked or more fucked up?"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="What do others think?"
				herotext="Let's see what other people think about the words. More fucked or more fucked up?"
				align="start"
			/>
			<ListResults client:load />
		</main>
	</div>
</BaseLayout>
