---
import { getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';

import ContactCTA from '../../components/ContactCTA.astro';
import PortfolioPreview from '../../components/PortfolioPreview.astro';
import Hero from '../../components/Hero.astro';
import Grid from '../../components/Grid.astro';
import SubmitWord from "../../components/SubmitWord"
import ListWords from "../../components/ListWords"
---

<BaseLayout
	title="Submit a word"
	description="Submit a word to be judged as being fucked or fucked up."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-12">
			<Hero
				title="Get involved"
				herotext="What you reckon? Does each word sound more like making the beast with two backs (aka fucked) or shots till dawn (fucked up)? Then add another work if you don't see it there."
				align="start"
			/>
			
		</main>
	</div>

	<section class="box skills">
	<div class="stack gap-2 lg:gap-8">
		<h2>Take your pick</h2>
		<ListWords client:load />
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2>Add to the chaos</h2>
		<SubmitWord client:load />
	</div>
</section>

</BaseLayout>
